<ion-view view-title="Dados biométricos">
  <ion-content>
    sdas
  </ion-content>
  <ion-tabs class="tabs-stable tabs-icon-only">

    <ion-tab title="Glucose" icon-on="ion-waterdrop" icon-off="ion-waterdrop">
      <!-- Tab 1 content -->
    </ion-tab>

    <ion-tab title="Pulsação" icon-on="ion-ios-pulse-strong" icon-off="ion-ios-pulse">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Desafios" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
      <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>
</ion-view>
