<ul id="menu" class="mfb-component--tr mfb-zoomin" data-mfb-toggle="hover">
  <li class="mfb-component__wrap">
    <a href="#" class="mfb-component__button--main"
       style="background-color: #0c60ee;">
      <i class="mfb-component__main-icon--resting ion-plus"></i>
      <i class="mfb-component__main-icon--active ion-close"></i>
    </a>
    <ul class="mfb-component__list">
      <li>
        <a ng-click="openNotificationModal()" data-mfb-label="Nova Mensagem"
           style="background-color: #0c60ee;"
           class="mfb-component__button--child">
          <i class="mfb-component__child-icon ion-ios-compose"></i>
        </a>
      </li>
      <li>
        <a ng-click="openPhysicalActivityModal()" data-mfb-label="Nova Recomendação de Atividade Física"
           style="background-color: #0c60ee;"
           class="mfb-component__button--child">
          <i class="mfb-component__child-icon ion-ios-compose"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>
