<ion-modal-view>
  <ion-header-bar>
    <h1 class="title positive">Recomendação de Atividade Física</h1>
    <a class="button icon-left ion-close button-clear button-positive" ng-click="closeModal()"></a>
  </ion-header-bar>
  <ion-content>
    <form name="form" novalidate ng-submit="sendMessage(form)" ng-controller="PhysicalActivityCtrl">
      <label class="item  item-input-inset item-select">
        <div class="input-label positive">
          Tipo de recomendação
        </div>
        <select name="level" ng-options="level.value for level in recomendationLevels" ng-model="recomendation.level" ng-change="updateRecomendation()"></select>
      </label>
      <div class="row responsive-md" ng-repeat="rec in recomendation.exercises">
        <div class="col col-30">
          <label class="item item-input-inset">
            <input placeholder="Duração" required ng-model="rec.duration" name="title" type="number"  ng-change="updateRecomendationLevel()">
            <span class="positive">Minutos</span>
          </label>
        </div>
        <div class="col col-30">
          <label class="item  item-input-inset item-select">
            <div class="input-label positive">
              A
            </div>
            <select name="type" ng-options="type.value for type in getAvailableRecomendationsTypes($index, rec.type) track by type.key"
                    ng-model="rec.type"  ng-change="updateRecomendationLevel()"></select>
          </label>
        </div>
        <div class="col col-30">
          <label class="item item-input-inset">
            <input placeholder="Frequência" required ng-model="rec.frequency" name="frequency" type="number" max="7" ng-change="updateRecomendationLevel()">
            <span class="positive">vezes por Semana</span>
          </label>
          <div ng-messages="form.frequency.$error" ng-if="form.$invalid && form.$submitted" role="alert">
            <div class="row assertive" ng-message="number">A frequência do exercício apenas pode possuir valores numéricos.</div>
            <div class="row assertive" ng-message="min">A frequência do exercício não pode ser inferior a 1 dias por semana.</div>
            <div class="row assertive" ng-message="max">A frequência do exercício não pode ser superior a 7 dias por semana.</div>
            <div class="row assertive" ng-message="required">A frequência do exercício é obrigatória.</div>
          </div>
        </div>
        <div class="col col-10">
          <button ng-disabled="recomendation.exercises.length === recomendationsTypes.length" class="col button button-clear button-icon ion-plus-circled" ng-click="addExercise($index)" type="button"></button>
        </div>
        <div class="col col-10">
          <button ng-show="$index !== 0" class="col button button-clear button-icon ion-minus-circled" ng-click="removeExercise($index)" type="button"></button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="">
            <button class="col button button-block button-positive" type="submit">Gravar Recomendação</button>
          </label>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
