.float-button {

  background-color:#303f9f;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 30px;
  padding: 25px;
  font-size: 40px;
  position: fixed;
  bottom: 5%; /* Adjust height */
  right: 5%; /* Adjust position */
  z-index: 1000;
}

.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}
/*

  Custom colors

*/

.main-bar{
  /*margin-top: 10px;*/
  height:80px;
}
.main-bar .button{
  margin-top: 10px;
  margin-left: 20px;
}

.main-bg {
  background-color: #ecf0f5
}

.main-pnl {
  margin-top: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.left-border {
  box-shadow: -5px -5px 40px rgba(0, 0, 0, 0.3) !important;
  border-left-style: solid;
  border-left-width: 5px;
}

.main-dark-bg {
  background-color: #262626;
}
.main-dark-bg .item{
  background-color: #262626;
}
.main-dark-bg .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
  color: #FFF;
}

/* Empty. Add your own CSS if you like */
.avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 2px 5px 4px #999;
  -moz-box-shadow: 0 0 0 3px #fff, 0 2px 5px 4px #999;
  box-shadow: 0 0 0 1px #fff, 0 2px 5px 2px #999;
}

.avatar-border {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
}

.invalid-input {
  border: 1px solid red;
  color: #E00000;
}

.invalid-input-label {
  color: #E00000;
}

.invalid-input ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #E00000;
}

.invalid-input :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #E00000;
  opacity: 1;
}

.invalid-input ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #E00000;
  opacity: 1;
}

.invalid-input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #E00000;
  opacity: 1;
}
